<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% title %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% css %}" rel="stylesheet">
    {% head %}
  </head>
  <body>
    {% body %}
  </body>
</html>

